__pycache__/
*.pyc
.env
.kaggle/
kaggle.json
.venv/
*.egg-info/
data/raw/*
data/processed/*
models/*
reports/*.png
reports/figures/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/figures/.gitkeep
